@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

li {
    list-style: none;
    padding: 3px;
}

a {
    text-decoration: none;
    color: black;
}

/* THE TOP BARS STYLING */
.bimg {
    background-image: url(../img/salesforcecircleimg.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.bword {
    width: 660px;
    margin-top: -500px;

}

#bold {
    font-size: 60px;
    margin-left: 120px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    color: #032d60;
}

#light {
    margin: 25px 120px;
    font-size: 22px;
    text-align: left;

}

.butin2 {
    display: flex;
    margin: 25px 120px;
    gap: 25px;

}

#bt1 {
    font-size: 15px;
    width: 173.82px;
    height: 52px;
    background-color: #1876d3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

#bt1:hover {
    background-color: #032d60;
}

#bt2 {
    font-size: 17px;
    width: 173.82px;
    height: 52px;
    border: 3px solid #1065bb;
    background-color: #ffffff;
    color: #166dc4;
    border-radius: 4px;
}

#bt2:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 3px solid #02234b;
}

.topbar1 {
    position: fixed;
    display: flex;
    background-color: #ffffff;
    height: 96px;
    width: 100%;
    color: #032d60f6;
    margin-top: -100px;
    z-index: 999;

}

.toptext {
    display: flex;
    padding: 30px 0px 0px 5px;
    gap: 40px;
    font-size: 18px;
    font-family: "sans-serif";
    font-weight: 400;
    font-style: normal;


}

.toptext0 {
    color: #02234b;
}


.toptext0:hover {
    color: #1876d3;
}


#toplogo {

    margin-top: -13px;
    width: 75px;
}

.call {
    margin: 23px 250px;
    font-size: 18px;
    text-decoration: underline;

}

.call:hover {
    color: #1876d3;
}

.call1 {
    margin: -25px 230px;
    font-size: 17px;
    color: #032d60;
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin: -40px -100px 0px 0px;
    gap: 25px;
    font-size: 18px;
}

.icon {
    color: #032d60;
}

.icon:hover {
    color: #589fd8;
    background-color: #daecfc;
    border-radius: 30%;
}

#butin {
    margin-top: -10px;
    font-size: 15px;
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 4px;
    background-color: #1a722fe3;
    color: white;
}

#butin:hover {
    background-color: #1c3326;

}

.topbar2 {
    display: flex;
    justify-content: center;
    background-color: #260faf;
    color: #ffffff;
    padding: 10px;
    margin-top: 100px;
    width: 100%;
    height: 48px;
    font-size: 20px;
}

#smal {
    margin-left: 15px;
    font-size: 18px;
    text-decoration: underline;
    color: #ffffff;
}

#smal:hover {
    border: 4px solid #1ab9ff;
    text-decoration: none;
    border-radius: 8px;

}

#playvid {
    position: absolute;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 20px 30px 30px 35px;
    margin: 220px 1100px;
    background-color: #13161a93;
    color: #ffffff;
}

#playvid:hover {
    background-color: rgba(12, 10, 10, 0.699);
}

#imgvid {

    height: 350px;
    width: 600px;
    border-radius: 3px;
    margin: 100px 840px;
    border: none;
}

#bvid {
    height: 100%;
    width: 100%;
    border-radius: 3%;

}



.mainbox {
    position: fixed;
    background-color: #0176d3;
    width: 330px;
    height: 280px;
    margin: -30px 1230px;
    border-radius: 20px;

}

.fixedbox {

    width: 300px;
    height: 105px;
    background-color: #0176d3;
    margin: 20px 20px;

}

#imgsmal {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 30px;
}

#imgsb {
    width: 100%;
    width: 100%;
    border-radius: 50%;

}

#imgsmal2 {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 5px;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.fixedtbox {
    width: 240px;
    height: 150px;
    background-color: #0176d3;
    margin: -30px 80px;

}

.hdfxsmal {
    color: #ffffff;
    font-size: 17px;
    padding: 30px 10px 5px 0px;
}

.let {
    padding: 10px;
}

#let2 {
    background-color: #ffffff;
    color: #0176d3;
    font-size: 20px;
}

#butlet {
    width: 85px;
    height: 45px;
    color: #0176d3;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#no {
    color: #ffffff;
    text-decoration: underline;
    padding-left: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#head {
    font-size: 45px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    margin: 240px 500px;
    color: #032d60;
}

.contbox {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: -145px;

}

.inbox {
    margin-top: -29px;
    height: 490px;
    width: 430px;
    background-color: #ffffff;
    box-shadow: 6px 6px 9px -10px;
    border-radius: 15px;
}




.inboximg {
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 35px;
}

#imgpic {
    height: 100%;
    width: 100%;
    border-radius: 6%;
}


.inboxtext {
    padding-top: 17px;
    padding-left: 9px;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background-color: white;
}

#text {
    background-color: #ffffff;
    font-size: 13px;
    padding: 3px;
    border-radius: 4px;
}


#text2 {
    padding: 25px 20px;
    color: #032d60;
    font-size: 26px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#text2:hover {
    color: #1ab9ff;
}

#text0 {
    font-size: 15px;
    padding-left: 20px;
    color: #032d60e0;
    text-decoration: underline;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#text0:hover {
    color: #0a8fc9;
    text-decoration: none;
}

#line {
    text-decoration: underline;
    color: #032d60e0;
    padding: 60px 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#line:hover {
    color: #1ab9ff;
    text-decoration: none;
}

#aa {
    color: black;
}

#head2 {
    text-align: center;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 60px 400px;
    color: #032d60;
}

.inbox2 {
    margin-top: 130px;
    height: 520px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
}

#text3 {
    padding: 25px 20px;
    color: #02070c;
    font-size: 17px;

}

#tex1:hover {
    color: #1ab9ff;
    text-decoration: none;
}

#tex0 {
    font-size: 21px;
    padding-left: 20px;
    color: #02234b;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#tex1 {
    font-size: 15px;
    padding-left: 20px;
    color: #032d60e0;
    text-decoration: underline;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#head3 {
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 20px 470px;
    color: #032d60;
}

.contcon {
    margin-top: 20px;

}

#textlg {
    margin: 25px 360px;
    font-size: 21px;
    font-family: none;
    font-style: normal;
    color: rgba(0, 0, 0, 0.801);
}

#btlg {
    margin: 20px 670px;
    font-size: 19px;
    width: 193.82px;
    height: 52px;
    border: 3px solid #1876d3;
    background-color: #ffffff;
    color: #1876d3;
    border-radius: 4px;
}

#btlg:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 2px solid #02234b;
}

.contlg {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
}

#circlelg {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 6px 6px 6px -9px;
    padding: 30px;
    margin-bottom: 15px;
}

#circlel2 {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 6px 6px 6px -9px;
    padding: 30px;
    margin-bottom: 15px;
    margin-left: -30px;
}

#puplelg {
    width: 40px;
}

#ptex {
    margin: 10px -20px;
    color: #032d60;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#ptex0 {
    margin: 10px 30px;
    color: #032d60;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#ptex:hover {
    color: #1ab9ff;
}

#ptex0:hover {
    color: #1ab9ff;
}

.bimgcont {
    display: flex;
    width: 100%;
    height: 400px;
}

#bimgmiddle {
    background-image: url(../img/tree.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 100000px;
}

/* #bimgmiddle2{
    background-image: url(../img/buterfly.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 50%;
} */
#head4 {
    text-align: center;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: -150PX 490px;
    color: #032d60;
}

.contcon2 {
    margin-top: 20px;

}

#textlg2 {
    text-align: center;
    margin: 130px 500px;
    margin-bottom: 0px;
    font-size: 21px;
    font-family: none;
    font-style: normal;
    color: rgba(0, 0, 0, 0.801);
}

#btlg2 {
    margin: 30Px 630px;
    font-size: 20px;
    width: 273.82px;
    height: 52px;
    border: 3px solid #1876d3;
    background-color: #ffffff;
    color: #1876d3;
    border-radius: 4px;
}

#btlg2:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 3px solid #02234b;
}

.contlg2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0px;
}

#circlelg2 {
    height: 100px;
    width: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 7px 7px 9px -9px;
}

#puplelg2 {
    width: 100%;
    height: 100%;
}

#head5 {
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 80px 373px;
    margin-bottom: 0px;
    color: #032d60;
}

#tex0i {
    margin-top: 10px;
    font-size: 26px;
    padding-left: 20px;
    color: #02234b;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#mod {
    font-size: 15px;
    padding-left: 20px;
    margin-left: 20px;
    width: 80px;
    border-radius: 30px;
    color: #02234b;
    background-color: #6ac1e669;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.inbox3 {
    margin-top: 180px;
    height: 490px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 8px 6px 12px -10px;
    border-radius: 15px;
}

#textfr3 {
    text-align: center;
    margin: 20px 500px;
    font-size: 21px;
    font-family: none;
    font-style: normal;
    color: rgba(0, 0, 0, 0.801);
}

#tex1i {
    font-size: 17px;
    padding-left: 20px;
    color: #032d60e0;
    text-decoration: underline;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

#tex1i:hover {
    text-decoration: none;
}

.inboximg0 {
    width: 150px;
    height: 150px;
    margin: 30px 120px;
}

.head6 {
    width: 60%;
    height: 500px;
    margin: 10px 400px;
}

#btlg3 {
    margin: 140Px 310px;
    font-size: 20px;
    width: 190px;
    height: 60px;
    border: 3px solid #1876d3;
    background-color: #ffffff;
    color: #1876d3;
    border-radius: 4px;
}

#btlg3:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 3px solid #02234b;
}

#headi {
    text-align: center;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: -60px 0px;
    color: #032d60;
}

#imgsd {

    height: 370px;
    width: 640px;
    border-radius: 3px;
    margin: 30px 840px;
    border: none;
}

#light1 {
    margin: -180px 120px;
    font-size: 22px;
    text-align: left;

}

#bt3 {
    margin: 220px 126px;
    font-size: 17px;
    width: 173.82px;
    height: 52px;
    border: 3px solid #1065bb;
    background-color: #ffffff;
    color: #166dc4;
    border-radius: 4px;
}

#bt3:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 3px solid #02234b;
}

#bold2 {
    font-size: 40px;
    margin: 200px 120px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #032d60;
}

.bbcr {
    background-color: hsla(198, 100%, 55%, 0.123);
    height: 440px;

}

#bimg3 {
    background-image: url(../img/hp-page-break-img-hills.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 200px;

}

.contbox3 {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.inbox5 {
    margin-top: -300px;
    height: 560px;
    width: 420px;
    background-color: #ffffff;
    box-shadow: 8px 6px 12px -10px;
    border-radius: 15px;
}

#text3i {
    margin-bottom: 15px;
    padding: 15px 20px;
    color: #02070c;
    font-size: 20px;

}

.mdlin {
    width: 100%;
    height: 400px;
}

.inbox6 {
    margin-top: 150px;
    height: 490px;
    width: 420px;
    background-color: #ffffff;
    box-shadow: 6px 6px 9px -10px;
    border-radius: 15px;
}

#mod1 {
    font-size: 15px;
    padding-left: 20px;
    margin-left: 30px;
    width: 150px;
    border-radius: 30px;
    color: #02234b;
    background-color: #6ac1e669;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.inboxtext7 {
    margin-top: 150px;
    height: 170px;
    width: 420px;
    background-color: #ffffff;
    box-shadow: 6px 6px 9px -10px;
    border-radius: 15px;
}

#text2i {
    padding: 18px 20px;
    color: #032d60;
    font-size: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#text2i:hover {
    color: #1ab9ff;
}

#mdbt2 {
    margin: 100Px 650px;
    font-size: 18px;
    width: 320px;
    height: 52px;
    border: 3px solid #1876d3;
    background-color: #ffffff;
    color: #1876d3;
    border-radius: 4px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#mdbt2:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 3.5px solid #02234b;
}

#imgsd2 {

    height: 330px;
    width: 50%;
    border-radius: 3px;
    margin: -150px 780px;
    border: none;
}

.bword2 {
    width: 530px;
    margin: -400px 140px;

}

#bt4 {
    margin: 220px 126px;
    font-size: 17px;
    width: 220px;
    height: 54px;
    border: 3.5px solid #1065bbec;
    background-color: #ffffff;
    color: #166dc4;
    border-radius: 4px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#bt4:hover {
    background-color: #daecfcc9;
    color: #02234b;
    border: 3.5px solid #02234b;
}

#head6 {
    text-align: center;
    font-size: 45px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    margin: 550px 320px;
    color: #032d60;
}

.bkimg {
    background-image: url(../img/php-contact-us-footer.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 580px;
    margin-top: -450px;
    margin-bottom: 20px;

}

.inbox3smal {
    margin-top: 5px;
    height: 330px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 8px 6px 12px -10px;
    border-radius: 15px;
}

.inboximgsmal {
    width: 150px;
    height: 20px;
    margin: 30px 120px;
}

.circleimg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 60px -90px;
    background-color: #eaf5fe;
}

#imgpicx {
    padding-left: 10px;
    height: 100%;
    width: 70%;

}

#footerbox {
    width: 100%;
    height: 420px;
    background-color: rgb(240, 236, 236);

}



#mid {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 120px;



}



.text0ii {
    background-color: #032e61;

    width: 100%;
    height: 25%;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    padding-top: 30px;
    padding-left: 210px;
}


.text12 {
    background-color: #ffffff;
    padding-top: 4px;
    width: 300px;
    height: 100%;


}

#fimg {

    width: 100px;
}

.diviconn {
    display: flex;
    margin-top: 40px;
}

.iconn {
    width: 40px;
    font-size: 30px;
    color: #02070cb4;
}

#fcall {
    color: #02070cbd;
    margin-top: 20px;
}

#fcont {
    color: #1065bb;
    text-decoration: underline;
    font-size: 17px;
    margin-top: 20px;
}

#fcont:hover {
    color: #0a8fc9;
}

.fhead {
    color: #02070cbb;
    font-size: 17px;
    margin-bottom: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.fword {
    font-size: 13px;
    margin-top: 15px;
    color: #2979c9;
}

.last {
    display: flex;
}

#fwide {
    font-size: 18px;
    margin-top: -10px;
    margin-left: -90px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}

.flist {
    margin-left: 15px;
    margin-top: -10px;
    font-size: 15px;
    text-decoration: underline;
    color: #ffffff;
    margin-bottom: 15px;

}

.flist:hover {
    color: #2e9bca;

}

#flwrd {

    width: 88%;
    color: #ffffff;
}


#butt2:hover #a6 {
    color: rgba(0, 0, 0, 0);
}

#arrow {
    position: absolute;
    font-size: 20px;
    padding-bottom: 5px;
    margin-left: -50px;
    color: #ffffff00;
}
#a6{
    color: #ffff;
}

#butt2 {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-top: 50px;
    background-color: rgb(17, 13, 13);
    border: 2px solid rgb(5, 8, 0);
}

#butt2:hover {
    background-color: rgb(251, 255, 0);
    border: 4px solid rgb(253, 110, 14);
    text-decoration: none;
}

#butt2:hover #arrow {
    color: black;
    text-shadow: 3px purple;
    text-decoration: none;
}